TrainingPortal/TrainingPortal/Connected Services/AdService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrainingPortal.Service.Advt.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrainingPortal.Service.Advt.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAd">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ad" nillable="true" type="tns:Ad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAd" nillable="true" type="tns:ArrayOfAd" />
  <xs:complexType name="Ad">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImageExtension" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ad" nillable="true" type="tns:Ad" />
</xs:schema>